:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  /*font sizes*/
  --fs-200: 0.8rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;

  /*font weights*/
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /*spacing*/
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-10: 10px;
  --spacing-16: 16px;
  --spacing-25: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-16);
}

.content-section h1 {
  font-family: "Young Serif", serif;
  font-size: var(--fs-700);
  color: var(--stone-900);
  line-height: 1.2;
}

.content-section p {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-300);
  color: var(--stone-600);
  line-height: 1.5;
}

img {
  max-width: 700px;
  height: auto;
  position: relative;
  top: -50%;
  padding: 0;
}

.recipe-content {
  width: 100%;
  position: relative;
  top: -50%;
  padding: 20px;
}

.recipe-content p {
  font-size: var(--fs-400);
}

/* Preparation time section */

.preparation-time {
  background-color: var(--rose-50);
  border-radius: 8px;
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  margin-top: var(--spacing-8);
  width: 100%;
  padding: 20px;
}

.preparation-time p {
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
}

.preparation-time li {
  font-weight: var(--fw-400);
  font-size: var(--fs-400);
  color: var(--stone-600);
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  padding: var(--spacing-5) var(--spacing-5) var(--spacing-5) var(--spacing-10);
}

.preparation-time li::marker {
  color: var(--rose-800);
}

.bold {
  font-weight: var(--fw-600);
}

.preparation-time ul {
  padding-left: 1.5rem;
}

.preparation-time li:first-child {
  margin-top: var(--spacing-10);
}

/* Ingredients section */

.ingredients {
  padding: 0;
}

h2 {
  font-family: "Young Serif", serif;
  font-size: var(--fs-600);
  color: var(--brown-800);
  font-weight: var(--fw-200);
  margin-bottom: var(--spacing-16);
}

.ingredients li {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  color: var(--stone-600);
  line-height: 1.5;
  padding: var(--spacing-5) var(--spacing-5) var(--spacing-5) var(--spacing-10);
}

.ingredients ul {
  padding-left: 1.5rem;
}

.ingredients li::marker {
  color: var(--brown-800);
}

.divider {
  height: 2px;
  background-color: var(--stone-900);
  margin: var(--spacing-16) 0;
  z-index: 40;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid var(--stone-150);
}

/* Instructions section */

.instructions li {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-400);
  color: var(--stone-600);
  line-height: 1.5;
  padding: var(--spacing-5) var(--spacing-5) var(--spacing-5) var(--spacing-10);
}

.instructions li::marker {
  color: var(--brown-800);
}

.instructions ol {
  padding-left: 1.5rem;
}

/* Nutrition section */

table {
  font-family: "Outfit", sans-serif;
  margin-top: var(--spacing-16);
  border-spacing: 0px 8px;
  width: 100%;
}

td {
  padding: 12px 30px;
  border-bottom: 1px solid var(--stone-150);
}

.rose-800 {
  color: var(--rose-800);
}

.no-border {
  border-bottom: none;
}
